
/* Navbar qismi */

body{
background-color: #DED9C4;
}
.navbar{
    position: fixed;
    background-color: #89B5AF;
    top:0px;
    right: 0px;
    width: 100%;
}

.navbar .imglogo{
width: 100px;
height: 100px;
}

.navbar #Nav{
    
    margin: auto;
  text-align: right;
 
}
.navbar .sahifa{
    font-size: 25px;
 
width:165px;
}
@media(max-width:1440px){
    .navbar #Nav{
    
        margin: auto;
      text-align: right;
     
    }
    .navbar .sahifa{
        font-size: 20px;
     
    width:130px;
    }  
    .navbar .imglogo{
        width: 80px;
        height: 80px;
    }  
}
@media(max-width:991px){
    .navbar #Nav{
    
        margin: auto;
      text-align: center;
     
    }  
    .navbar .sahifa{
        font-size: 20px;
     
    width:100%;
    } 
    .navbar .imglogo{
        width: 60px;
        height: 60px;
        } 
}



/* asosiy qism */

.asosiy{
    width: 100%;
    height: 90vh;
    border: 1px solid red;
    margin-top: 130px;
    display: flex;
}
.rahbar{
    display: flex;
    justify-content: center;
    align-items: center;
width: 70%;
border: 1px solid red;
}
.yangilik{
    padding: 20px;
    border: 1px solid red;
width: 30%;
}
.oyna{
    width: 100%;
    height: 90%;
    background-color: #96C7C1;
    margin:5%;
    display: block;
    padding: 20px;
}
.oyna img{
    margin: auto;
   border: 1px solid red;
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oyna h3{
    margin: auto;
    font-size: 18px;
   }
   .oyna h1{
       margin: auto;
       font-size: 23px;
      }
@media (max-width:1440px){
    .oyna img{
        margin: auto;
       border: 1px solid red;
        width:80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .oyna h3{
     font-size: 18px;
    }
    .oyna h1{
        font-size: 23px;
       }
}

@media (max-width:991px){
    .oyna img{
        margin: auto;
       border: 1px solid red;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
}