
/* Navbar qismi */

body{
background-color: #DED9C4;
}
.navbar{
    position: fixed;
    background-color: #89B5AF;
    top:0px;
    right: 0px;
    width: 100%;
    z-index: 132;
}

.navbar .imglogo{
width: 100px;
height: 100px;
}

.navbar #Nav{
    
    margin: auto;
  text-align: right;
 
}
.navbar .sahifa{
    font-size: 25px;
 
width:165px;
}
@media(max-width:1440px){
    .navbar #Nav{
    
        margin: auto;
      text-align: right;
     
    }
    .navbar .sahifa{
        font-size: 20px;
     
    width:130px;
    }  
    .navbar .imglogo{
        width: 80px;
        height: 80px;
    }  
}
@media(max-width:991px){
    .navbar #Nav{
    
        margin: auto;
      text-align: center;
     
    }  
    .navbar .sahifa{
        font-size: 20px;
     
    width:100%;
    } 
    .navbar .imglogo{
        width: 60px;
        height: 60px;
        } 
}



/* asosiy qism */

.asosiy{
    width: 100%;
    height: 800px;
    overflow-y: hidden;
  
    margin-top: 130px;
    display: flex;
}
.rahbar{
    display: flex;
    justify-content: center;
    align-items: center;
width: 70%;

}

.oyna{
    width: 100%;
    height: 90%;
    background-color: #96C7C1;
    margin:5%;
    display: block;
    padding: 20px;
}
.oyna img{
    margin: auto;
 
    width:60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.oyna h3{
    margin: auto;
    font-size: 23px;
    text-align: center;
    margin:20px;
    margin-top: 0px;
   }
   .oyna h1{
       margin: auto;
       font-size: 30px;
       text-align: center;
       margin:20px;
      }
@media (max-width:1440px){
    .asosiy{
        width: 100%;
        height: auto;
      
        margin-top: 110px;
        display: flex;
    }
    .oyna img{
        margin: auto;
     
        width:80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }   
    .oyna h3{
     font-size: 18px;
    }
    .oyna h1{
        font-size: 23px;
       }
}

@media (max-width:991px){
  
 
    .asosiy{
        width: 100%;
        height: 1400px;
      
        margin-top: 90px;
        display: block;
    } 
     .rahbar{
        display: flex;
        justify-content: center;
        align-items: center;
    width: 100%;
    height: auto;
  
    }
  
    .oyna img{
        margin: auto;
     
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .oyna h3{
        font-size: 15px;
       }
       .oyna h1{
           font-size: 20px;
          }   
}
@media (max-width:850px){
    .asosiy{
        width: 100%;
        height: 1300px;
      
        margin-top: 90px;
        display: block;
    } 
 
}

@media (max-width:600px){
    .rahbar{
        display: flex;
        justify-content: center;
        align-items: center;
    width: 100%;
    height: auto;
  
    } 
 
}

@media (max-width:600px)and (min-width:300px){
    .asosiy{
        width: 100%;
        height: 1200px;
      
        margin-top: 90px;
        display: block;
    } 
 
}



/* Accordion qismi */
.yangili{
   margin-bottom: 10px; 
    background-color:#96C7C1;
    width: 30%;
}
.yangilik{
    height: 750px;
    overflow-y:scroll;
}  

.yangilik h1{
    margin:auto;
    text-align: center;
    margin-top:20px;
    margin-bottom: 20px;
    
}

.accordionbody{
background-color: #96C7C1;

}
@media (max-width:1440px){
    .yangilik{
        overflow-y:scroll;
        height: 650px;
    }  

}

@media (max-width:991px){
  .yangili{
      width: 100%;
height: 550px;
 background-color:#96C7C1;
  }
  .yangilik{
    overflow-y:scroll;
    height: 700px;
}  
}


/* videolavhalar */

.video{
    width: 100%;
   
}
.cardvideo{
 padding: 5%; 
  
 background-color: #96C7C1;
}
.cardvideo h3{
    margin: auto;
text-align: end;
font-family: Palatino;
}
.cardvideo h1{
    margin: auto;
text-align: center;
margin-bottom: 20px;
margin-top: 20px;
}
.ifre{
    width: 100%;
    height: 250px;
    
}
.col{
    margin-bottom: 20px;
}
.cardvideo h3:hover{
color: red;
font-family: Palatino;

}


/* Homiylar */


@keyframes scroll {
    0% {
        transform: translateX(0);
   }
    100% {
        transform: translateX(calc(-250px * 7));
   }
}
.slider {
    margin: 40px;
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.slider::before, .slider::after {
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 200px;
    position: absolute;
    width: 200px;
    z-index: 2;
}
.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}
.slider::before {
    left: 0;
    top: 0;
}
.slider .slidetrack {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}
.slider .slide {
    height: 100px;
    width: 250px;
}
